html, body{
    margin: 0;
    height: 100%;
}
/* html{
    /* cursor: url('/assets/cursor-01.png'), auto; */
    cursor: url("cursor-01.png"), auto;
} */
body{
    /* background-color: #fff105; */
    font-family: 'Poppins', sans-serif;
    display: flex;
}
.left-field{
    background-color: #fff105;
    width: 86%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-color: #000000;    
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    overflow: auto;
    justify-content: space-between;
}


.Total-Question {
    /* width: 100px; */
    /* height: 133px; */
    display: inline-block;
    font-size: 25px;
    color: #000000;
    margin-top: 1.5%;
    margin-left: 2.7%;

    
}

.Question{
    margin-left: 2%;
}

.text-field {
    font-size: 70px;
    /* width: 100%; */
    border: none;
    background-color: transparent;
    text-align: center;
}

input::placeholder{
    font-size: 20px;
    line-height: 1.5;
    display: inline;
    vertical-align: middle;
}

textarea:focus, input:focus{
    outline: none;
}

/* .exit-btn{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #000;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}
.exit-btn img{
    width: 20px;
    height: 20px;
} */

.right-field{
    overflow-x: hidden; 
    overflow-y: scroll;

    background-color: #ffffff;
    width: 14%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 1.4%;
}

.prev-question{
    /* display: block; */
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    background-color: rgb(255, 255, 255);
    /* text-align: center; */
    /* position: fixed; */
    /* margin-left: 20px; */
}

.history{
    /* display: none; */
    font-size: 15px;
    color: #000000;
    /* font-weight: bold; */
    margin-bottom: 30px;
    /* background-color: skyblue; */
    /* margin-top: 0px; */
    /* display: flex;
    flex-direction: column; */
}

.history .key{
    text-transform: uppercase;
    /* margin-left: 40px; */
}
.history .value{
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'chatbot_ilhee_finalfinal-Regular';
}

.next-btn{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 2.7%;
}
#nextBtn{
    visibility: hidden;
    background: none; 
    color: #000;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 30px;
}
.next-btn img{
    width: 50px;
    height: 50px;
}
