html, body{
    height: 100%;
}
body{
    background-color: #fff105;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    cursor: url('cursor-01.svg'), auto;
    margin: 0;
    height: 100%;
}

.cursor {
    width: 20px;
    height: 20px;
}

.vertical-align{
    /* margin: 0 auto; */
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translateY(-25%); */
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.CHATBOT-ABOUT-ME {
    width: 1550px;
    height: 21.1%;
    margin-left: 2.7%;
    margin-top: 1.5%;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    color: #000000;
}

.start-btn-container{
    /* width: 100%; */
    display: flex;
    justify-content: center;
}
.start-btn{
    display: flex;
    justify-content: center;
    width: 130px;
    height: 130px;
    border: solid 1px #000000;
    background-color: #ffffff;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 180px;
    /* margin-right: auto;
    margin-left: auto; */
}
button{
    background: #fff; 
    color: #000;
    outline: none;
    border: none;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
a{
    text-decoration: none;
    color: #000;

}

button:active{
    background-color: #fff105;
}
.vertical-align .key-lists{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.vertical-align .key-lists ul{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0;
}
.vertical-align .key-lists li{
    float: left;
    list-style: none;
    font-size: 15px;
}

/* 여기를 알아서 바꾸면됨 */
.vertical-align .key-lists li:not(:last-child){ 
    margin-right: 220px;
}
