body{
    background-color: #fff105;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    cursor: url('cursor-01.svg'), default;
}


.LET-ME-INTRODUCT-MYSELF {
    width: 1550px;
    height: 120px;
    font-size: 100px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin: 10px 60px 0px 10px;
}

.CHATBOT-ABOUT-ME {
    /* width: 528px; */
    height: 54px;
    margin: 0px 40px 0px 10px;
    font-size: 48px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.vertical-align{
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    width: 100%;
    display: flex;
    justify-content: center;
}
.start-btn{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: solid 3px #000000;
    background-color: #ffffff;
    text-align: center;
    border-radius: 50%;
    /* margin-right: auto;
    margin-left: auto; */
}
button{
    background: #fff; 
    color: #000;
    outline: none;
    border: none;
    font-size: 50px;
    letter-spacing: 1px;
    cursor: pointer;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
a{
    text-decoration: none;
    color: #000;

}

button:active{
    background-color: #fff105;
}